<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyApp</title>
</head>

<body style="display: flex;

align-items: center;

justify-content: center;">
    <!-- Add your EJS code here -->


    <main>
        <%- include partials/_header.ejs %>

            <ul>
                <% for (var shortURL in urls) { %>
                    <li style="display:flex; margin-left:10px">
                        <%= shortURL %> ---->
                            <a href='u/<%= shortURL %>'>
                                <%= urls[shortURL].url %>
                            </a>

                            <form action='/urls/<%= shortURL %>/edit'>
                                <input type="submit" value="Edit" />
                            </form>

                            <form method="POST" action="/urls/<%= shortURL %>/delete" style="margin-left:10px">
                                <button type="submit" value="<%= shortURL %>">Delete</button>
                            </form>

                    </li>
                    <% }; %>
            </ul>
    </main>

</body>

</html>

<!-- views/pages/index.ejs -->